.Login{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.page{
    background-color: #F0909C;
    height: 225px;
    width: 300px;
}

.Username{
    text-align: center;
}

.Password{
    text-align: center;
    padding-top: 5%;
}
.button{
    text-align: center;
    background-color: aqua;
    padding: 2px;
    width: 100px;
}
.box{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 50px;
}
.message{
    text-align: center;
}
.body{
    background-color: #C28287; 
    justify-content: center; 
    align-items: center; 
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#footer-placeholder{
    background-color: #F0909C;
}

